html,body {
	height: 100%;
}

#canevas {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
}

#piedDePage,.push {
	height: 60px;
}

footer.footer {
	color: #888;
	background: #343a44;
	padding-top: 1em;
	padding-bottom: 1em;
}